* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// .binance-img {
//   width: 100%;
//   height: auto;
// }
.piechart-left {
  rect {
    fill: transparent;
  }
  circle {
    fill: #99fff0;
  }
  text {
    fill: white;
  }
  path {
    fill: #5bc0be;
  }
}

body {
  // font-family: NeueHaasDisplayRoman;
  background-color: #0b132b;
  color: #fff;
}
// --------------------------------------------- Header-------------------------
.navbar {
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff;
  a {
    font-size: 1rem;
    text-transform: capitalize;
    color: white;
    font-weight: 700;
  }
  .logo {
    height: 28px;
    width: 150px;
  }
  a:active {
    font-weight: bold;
    border-bottom: 2px solid black;
  }
  a:hover {
    color: #3a506b;
  }
  .logo-img {
    height: 30px;
    width: 190px;
  }
}
// -------------------------------------------------Footer-----------------------

.footer {
  background-color: transparent;
  color: white;
  .icons {
    padding-left: 100px;
  }
  .footer-line {
    border: 1px solid white;
    font-weight: bold;
    color: white;
  }
  .footer-img {
    width: 150px;
    height: 28px;
  }
  .blue-color {
    color: #6d8bb0;
    padding-left: 10px;
  }
}
//-----------------------------------------------Hero------------------------
.hero {
  .bg-img {
    position: absolute;
    top: -170px;
    left: 500px;
  }
  .hero-img {
    width: 100%;
    height: auto;
  }
  padding-top: 110px;
  z-index: 4;
  .container-fluid {
  }
  .container {
    position: relative;
  }
  .hero-btn {
    background-color: #6fffe9c7;
    color: #0b132b;
    font-weight: 600;
    border: 1px solid #3a506b;
    padding: 6px 30px;
    width: 70%;
    border-radius: 4px;
  }
  //   .bg-img{
  //     position: absolute;
  //     top: -14em;
  //     right: -18em;
  //     z-index: 2;
  //     overflow: hidden;
  //     width: 69em;
  //     opacity: .8;
  //   }
  //   .bg_img_front {

  //     animation: oct-back 8s cubic-bezier(.66,0,0,1) 0s infinite alternate;
  // }
  // .bg_img_middle {
  //   position: absolute;
  //   top: -0.5em;
  //   left: 0;
  // }
  // .bg_img_back {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   animation: oct-back 4s cubic-bezier(.66,0,0,1) 0s infinite alternate;
  // }
  .hero-btn:hover {
    background-color: #6fffe9;
  }
  .hero-second-btn {
    color: white;
    border: 1px solid #6fffe9c7;
    padding: 8px 35px;
  }
  .hero-second-btn:hover {
    background-color: #3a506b;
  }
  .hero-h3 {
    color: #6fffe9c7;
  }
  .hero-below-img {
    width: 180px;
    height: 44px;
    display: block;
    margin: auto;
  }
  .hero-below-two {
    width: 200px;
    height: 50px;
    display: block;
    margin: auto;
  }
  @media only screen and (max-width: 600px) {
    .hero-btn {
      width: 100%;
    }
    .hero-second-btn {
      width: 90%;
      display: block;
      margin: auto;
      margin-bottom: 20px;
    }
    .hero-h1 {
      font-size: 32px;
    }
  }
}
//////---------------------------------------------Intro----------------------------
.intro {
  background: radial-gradient(
    17.4% 50% at 41.26% 50%,
    #0d3f59 0,
    rgba(4, 24, 54, 0) 100%
  );
  padding-top: 120px;
  .card-box {
    background: rgba(46, 125, 175, 0.2);
    padding: 26px;
    border-radius: 8px;
    border-top: 2px solid #6fffe9;
    border-left: 1px solid #6fffe9;
    border-right: 1px solid #6fffe9;
  }
  .offer {
    font-size: 60px;
    font-family: Montserrat, sans-serif;
  }
  .intro-box-below {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #5bc0be;
  }
  .intro-h3 {
    color: #6fffe9;
    font-family: Montserrat, Sans-serif;
    font-size: 21px;
  }
  @media only screen and (max-width: 600px) {
    .card-box {
      margin-bottom: 20px;
      margin-top: 10px;
    }
  }
}
//------------------------------------------------Cross chain--------------------
.crosschain {
  padding-top: 90px;
  padding-bottom: 20px;
  .cross-h3 {
    color: #6fffe9;
    font-family: Montserrat, Sans-serif;
    font-size: 21px;
  }
  .cross-h1 {
    font-family: Montserrat, Sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 66px;
  }
}
///----------------------------------------------Sale ----------------------
.sale {
  margin-top: 80px;
  .sale-card {
    background: rgba(46, 125, 175, 0.2);
    padding: 26px;
    border-radius: 8px;

    position: relative;
  }
  // .first{
  //   padding-top: 20px;
  //   padding-bottom: 20px;
  // }
  // .third{
  //   padding-top: 50px;
  //   padding-bottom: 20px;
  // }
  // .second{
  //   padding-top: 20px;
  //   padding-bottom: 20px;
  // }
  .sale-card-two {
    background: rgba(46, 125, 175, 0.2);
    padding: 26px;
    border-radius: 8px;
    margin-top: 20px;
    position: relative;
  }
  .sale-card-three {
    background: rgba(46, 125, 175, 0.2);
    padding: 26px;
    border-radius: 8px;

    position: relative;
  }
  .sale-card-top {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #99fff0;
    font-weight: 700;
    font-size: 22px;
  }
  .card-center {
    margin-top: -25px;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -0.2px;
    font-family: Montserrat, sans-serif;
    display: block;
  }
  .coming {
    background: #b71c1c;
    color: #fff;
    position: absolute;
    display: block;
    font-size: 10px;
    padding: 3px 8px;
    transform: rotate(-40deg);
    top: 13px;
    left: -5px;
  }
  .upcoming {
    background: #6fffe9c7;
    color: black;
    position: absolute;
    display: block;
    font-size: 10px;
    padding: 3px 8px;
    transform: rotate(-40deg);
    top: 13px;
    left: -5px;
  }
  .card-center-two {
    margin-top: -18px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.2px;
    font-family: Montserrat, sans-serif;
    display: block;
  }
  .sale-btn {
    background-color: #6fffe9c7;
    width: 100%;
    font-weight: 500;
    color: black;
  }
  .upto {
    font-size: 13px;
    color: #5bc0be;
    display: block;
    font-weight: 700;
    margin-top: 20px;
  }
  //   @media only screen and (max-width: 600px){

  // }
}
/////////--------------------------------------Tokenomics------------------------
.tokenomics {
  padding-top: 80px;
  .tokenomics-h {
    color: #5bc0be;
    display: block;
    font-size: 40px;
    font-weight: 600;
  }
  .tokenomics-img {
    width: 100%;
    height: auto;
  }
}
//--------------------------------------------token------------------------
.token {
  padding-bottom: 100px;
  .token-card-img {
    height: 46px;
    width: 50px;
  }
  .card {
    background: rgba(46, 125, 175, 0.2);
    padding: 26px;
    border-radius: 8px;
  }
  .token-h {
    font-family: Montserrat, Sans-serif;
    color: #d6fff9;
    font-size: 18px;
  }
  .token-h-top {
    color: #d6fff9;
    font-weight: 500;
    font-size: 1.25rem;
  }
}
/////----------------------------------------Faqs-------------------------
.faqs {
  padding-bottom: 100px;
  .styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c {
    display: flex;
    justify-content: space-between;
    background-color: rgba(46, 125, 175, 0.2);
    margin-bottom: 10px;
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
  }
  .faq-sub {
    font-size: 14px;
    font-style: italic;
    color: rgba(46, 126, 175, 0.857);
  }
}
//------------------------------------------Binance----------------------------
.binance {
  .binance-img {
    height: 50px;
    width: 50px;
  }
  .bd-highlight {
    margin-bottom: 70px;
    margin-top: -10px;
  }
  .step-5 {
    margin-top: 72px;
  }
  .first-gif {
    margin-left: -90px;
  }
  .second-gif {
    margin-top: 60px;
    margin-left: -60px;
  }
  .third-gif {
    margin-top: 60px;
    margin-left: -40px;
  }
  .octo {
    display: flex;
    align-items: center;
  }
  .octa-body {
    margin-top: -180px;
    margin-left: 30px;
  }
  .list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
  }
  .list-group-item {
    margin-bottom: 25px;
    background: #1c2541;
    color: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    border-left: 2px solid #6fffe9;
  }
  .step-4 {
    margin-top: 33px;
    margin-left: 30px;
  }
  .img-fluid {
    width: 240px;
  }
  .network {
    margin-top: -110px;
    // margin-right: 40px;
    font-weight: 700;
    font-family: NeueHaasDisplayMedium;
  }
}
//------------------------------------------Roadmap------------------------
.roadmap {
  margin-bottom: 300px;
  .first {
    display: flex;
    margin-top: 300px;
  }
  .second{
    display: flex;
    margin-top: 300px;
  }
  .roadmap-1st {
    border-left: 2px dashed #3a506b;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .roadmap-1st li {
    margin-left: 20px;
    width: 200px;
    color: #5bc0be;
  }
  .roadmap-2nd{
    border-left: 2px dashed #3a506b;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .roadmap-2nd li {
    margin-left: 20px;
    width: 200px;
    color: #6fffe9;
  }
  .line {
    height: 5px;
    width: 250px;
    background-color: #3a506b;
  }
  .node {
    border-radius: 50%;
    margin-top: -11px;
    height: 30px;
    width: 30px;
    background-color: #3a506b;
    position: relative;
    
  }
  .text {
    position: absolute;
    top: -165px;
    left: 15px;
    // border: 2px solid wheat;
  }
  .text-two{
    position: absolute;
    top: 25px;
    left: 16px;
    // border: 2px solid wheat;
  }
}
@media only screen and (max-width: 600px) {
  .roadmap{
    display: none;
  }
}
